<div class="well bs-component">
    <form class="form-horizontal" id="newPasswordForm">
        <fieldset>

            <!-- Form Name -->
            <legend>Set New Password</legend>


            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="NewPassword">CurrentPassword</label>
                <div class="col-md-4">
                    <input id="NewPassword" name="CurrentPassword" type="password" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="NewPassword">NewPassword</label>
                <div class="col-md-4">
                    <input id="NewPassword" name="NewPassword" type="password" class="form-control input-md">

                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="UpdatePassword"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>


<script type="text/javascript">

    $("#newPasswordForm").submit(function (e) {
        e.preventDefault(); 
        var Action = '@Url.Action("UpdatePassword","User")'; 

        $.ajax({
            type: "POST",
            url: Action,
            data: $("#newPasswordForm").serialize(), 
            success: function (data) {
                alert(data); 
            }
        });

       
    });

</script>
