
<h1>Thank You</h1>
<div>
    <h3 class="col-md-10">Your order Sumbited Successfully</h3>
    <img src="~/images/success-icon.png" class="col-md-2" />
</div>
<script>
    window.setTimeout(function () {
        window.location.href = '@Url.Action("Index","Product")';}, 10000);
</script>