@model Product


@section header {
    <link href="~/lib/bootstrap-fileinput/css/fileinput.css" rel="stylesheet" />
   
}



<form class="form-horizontal" asp-action="CreateProduct" asp-controller="Admin" method="post">
    <fieldset>

        <!-- change col-sm-N to reflect how you would like your column spacing (http://getbootstrap.com/css/#forms-control-sizes) -->
        <!-- Form Name -->
        <legend>Create new product</legend>


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="@Model.ImageId" />

            <!-- Name -->
            <div class="form-group">
                <label class="control-label col-sm-2">Name</label>
                <div><span asp-validation-for=@Model.ProductName class="text-danger"></span></div>
                <div class="col-md-4">
                    <input type="text" class="form-control" asp-for=@Model.ProductName>

                </div>
            </div>
            <!-- Price -->
            <div class="form-group">
                <label for="" class="control-label col-sm-2">Price</label>
                <div><span asp-validation-for=@Model.ProductPrice class="text-danger"></span></div>
                <div class="col-md-4">
                    <input type="number" class="form-control" asp-for=@Model.ProductPrice>

                </div>
            </div>


        <!-- Quantity -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Quantity</label>
            <div><span asp-validation-for=@Model.Quantity class="text-danger"></span></div>
            <div class="col-md-4">
                <input type="number" class="form-control" asp-for=@Model.Quantity>

            </div>
        </div>



        <!-- Short Description -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Short Description</label>
            <div><span asp-validation-for=@Model.ShortDescription class="text-danger"></span></div>
            <div class="col-md-4">
                <input type="number" class="form-control" asp-for=@Model.ShortDescription>

            </div>
        </div>


            <!-- Category -->
            <div class="form-group">
                <label for="" class="control-label col-sm-2">Category</label>
                <div class="col-md-4">
                    <select asp-for="ProductCagegoryID" class="form-control">
                        <option>Select Category</option>
                    </select>
                </div>
            </div>


      


     

            <!-- image -->
            <div class="form-group">
                <label class="control-label col-sm-2">Picture</label>
                <div class="col-md-4">
                    <input id="input-id" type="file" class="file" data-preview-file-type="text">
                </div>
            </div>

       

        
            <!-- Description -->
            <div class="form-group">
                <label class="control-label col-sm-2" for="">Description</label>
                <div class="col-md-10">
                    <textarea class="form-control" rows="1" asp-for=@Model.ProductDescription></textarea>

                </div>
            </div>

            <!-- Create -->
            <div class="form-group">
                <label class="control-label col-sm-2" for=""></label>
                <div class="col-md-4">
                    <button type="submit" id="" name="" class="btn btn-success" aria-label="">Create</button>

                </div>
            </div>

        

    </fieldset>
</form>


@section scripts{

<script src="~/lib/tinymce/tinymce.js"></script>

<script src="~/lib/bootstrap-fileinput/js/fileinput.js"></script>
<script src="~/lib/bootstrap-fileinput/js/plugins/piexif.js"></script>



    <script>
        var action = '@Url.Action("UploadImage", "Image")';
        // initialize with defaults
        $("#input-id").fileinput({
            'showUpload': true, 'previewFileType': 'any', 'uploadAsync': true, 'uploadUrl': action
        });

        //set image id
        $('#input-id').on('fileuploaded', function (event, data, previewId, index) {

            debugger;
            $("#ImageId").val(data.response.imageId);
        });

        //resize image
        $('#input-id').fileinput({
            resizeImage: true,
            maxImageWidth: 650,
            maxImageHeight: 650,
            resizePreference: 'width'
        });

    </script>

    <script>


    $(document).ready(function () {

        tinymce.init({
            selector: 'textarea',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',

        });

        //set Proviances
        var action = '@Url.Action("GetProductCategoriess", "Admin")';

        $.ajax({
            url: action,
            type: 'Json',
            data: {},

            success: function (response) {

                debugger;

                var obj = $.parseJSON(response);
                for (index in obj) {
                    $('#ProductCagegoryID').append('<option value=' + obj[index].ID + '>' + obj[index].Name + '</option>');
                }
            },
            error: function () {
                alert('Error');
            }

        });

    });

    </script>


    <script type="text/javascript">
        $(document).ready(function () { 

            $("input.input-validation-error")
                .closest(".form-group").addClass("has-error");
        });
    </script>
     
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}